<h1>Contact</h1>

<div class="row">
    <div class="col-6">
        <ul>
            <li><i class="fas fa-paper-plane"></i><a target="_blank" href="{{'mailto:' + overview.mail}}">{{overview.mail}}</a></li>
            <li><i class="fas fa-phone"></i><a target="_blank" href="{{'tel:' + overview.phone}}">{{overview.phone}}</a></li>
            <li><i class="fas fa-compass"></i>{{overview.location}}</li>
        </ul>
    </div>
    <div class="col-6">
        <ul>
            <li><i class="fas fa-code-branch"></i><a target="_blank" href="{{'https://' + overview.github}}">{{overview.github}}</a></li>
            <li><i class="fas fa-linkedin-in"></i><a target="_blank" href="{{'https://' + overview.linkedin}}">{{overview.linkedin}}</a></li>
        </ul>
    </div>
</div>