ul {
    padding-left: 1.3rem;
    margin-top: 0rem;
}

li {
    float: left;
    list-style-type: square;
    margin: .3rem 0 .3rem 0;
}

li div {
    margin: 0rem;
    font-size: .9rem;
    font-weight: 400;
}