<div class="container">
  <div class="row">
    <div class="col-12">
      <app-headline 
        [overview]="overview$ | async"></app-headline>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <app-about 
        [about]="about$ | async"></app-about>
      <app-skills
          [skills]="skills$ | async"></app-skills>
      <app-experience class="d-md-none"
        [experience]="experience$ | async"></app-experience>
      <app-certification
        *ngIf="(certification$ | async).length > 0" 
        [certification]="certification$ | async"></app-certification>
      <app-contribution 
        [contribution]="contribution$ | async"></app-contribution>
      <app-language
        [language]="language$ | async"></app-language>
      <app-contact 
        [overview]="overview$ | async"></app-contact>
      <app-footer
        [clause]="clause$ | async"></app-footer>
    </div>
    <div class="col-md-6 col-12 d-none d-md-block">
      <app-experience 
        [experience]="experience$ | async"></app-experience>
    </div>
  </div>
</div>