.role {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

h2 span {
    text-transform: none;
    color: #333;
    font-weight: 500;
}

ul {
    padding-left: 1.3rem;
    margin-top: 0rem;
}

li {
    list-style-type: square;
    margin: .3rem 0 .3rem 0;
}

.overview {
    margin-bottom: .3rem;
}