body {
  font-size: 14px;
  text-align: justify;
  font-family: 'Cairo', sans-serif;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 1rem;
  margin-top: 0rem;
}

li {
  list-style-type: none;
  margin: 0.3rem 0 0.3rem 0;
  list-style-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+PHJlY3QgeD0iMyIgeT0iMyIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPjwvc3ZnPg==');
}

.list-style-none ul {
}

.list-style-none li {
  list-style-image: none;
}

a {
  color: #000;
  text-decoration: none;
}

.headline {
  font-size: 1.4rem;
  border-left: 1rem solid #555;
  margin: 1.5rem 0;
  padding: 0.4rem 0.4rem 0.4rem 1rem;
  color: #555;
  font-weight: 700;
  text-transform: uppercase;
}

.list-unstyled li {
  list-style-type: none;
}

.tech {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: #0001;
  padding: 0.15rem 0.2rem;
  margin: 0 0.4rem 0.4rem 0;
}

.muted {
  font-size: 0.8rem;
}

.dimmed {
  color: #666;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 920px;
  }
}

@media print {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 920px;
  }
}
