html {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 900px;
    }
}